.*.sw*
app/views/*.html
app/angular-ui-bootstrap
app/bower_components
dist
.tmp
.sass-cache
config.real.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
